---
import Base from "~/layouts/Base.astro";

const item_files = await Astro.glob(`../../public/imgs/items/*`)
const painting_files = await Astro.glob(`../../public/imgs/paintings/*`)

const items = item_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});

const paintings = painting_files.map(file => {
    return file.default.split('/').pop().split('.')[0]
});
---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
    <h3 class="text-2xl sm:text-4xl text-white">O_WTEOR</h3>
    <p class="indent-5 text-white">
        O_WTEOR是一个创立于2022年7月20日的一个完全公益的，以Minecraft服务器为主的一个小组织。
    </p>
    <h3 class="text-center text-4xl text-white">特色</h3>
    <div class="flex items-center justify-center">
        <ul>
            <li>1.完全公益，不收取任何费用，无任何内购形式，更没有Pay To Win；</li>
            <li>2.周年庆期间或不定时发放福利，包括但不限于Steam正在打折的游戏、一些简单的电子设备、或者一些小礼品……；</li>
            <li>3.冷清（悲）；</li>
    <h3 class="text-center text-4xl text-white">加入我们！</h3>
    <div class="flex item-center justify-center">
        <ul>
            <li>1.填写问卷 https://docs.qq.com/form/page/DQURNV1V4TVZ1UWFw ；</li>
            <li>2.申请加入问卷结束界面的群聊；</li>
            <li>3.等待管理员或者群主审核；</li>
        </ul>
    </div>
        </ul>
    </div>
    <a href="/docs" class="self-center py-2 px-5 my-5 button text-shadow-lg text-2xl">Get started</a>
</div>
</Base>
