---

---
<base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown"
    <a href="/docs/QR Code" class-center py-2 px-5 my-5 button text-shadom-lg text-2xl"></a>